@import url('https://fonts.googleapis.com/css?family=Fresca&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Fresca;
}

button {
  font-family: Fresca;
  padding: 1rem;
  outline: none;
  border: none;
}
